<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Create a New Listing</h3>
                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="for-label">Title</label>
                        <input class="form-control" type="text" name="listing[title]" placeholder="Add a catchy title" required>
                        <div class="valid-feedback">Title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="for-label">Description</label>
                        <textarea class="form-control" name="listing[description]"
                            placeholder="enter description" required></textarea>
                            <div class="invalid-feedback">Please enter a short description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="for-label">Upload Listing Image</label>
                        <input class="form-control" type="file" name="listing[image]" >
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="for-label">Price</label>
                            <input class="form-control"  name="listing[price]" placeholder="1200" required>
                            <div class="invalid-feedback">Price should be valid</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="for-label">Country</label>
                            <input class="form-control" type="text" name="listing[country]" placeholder="India" required>
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="for-label">Location</label>
                        <input class="form-control" type="text" name="listing[location]" placeholder="Jaipur, Rajasthan" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <br><br>
                    <button class="btn btn-dark add-btn">Add</button><br><br>
                </form>
            </div>
        </div>
    </body> 